<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
                >
<head>
    <meta charset="utf-8">
    <title>FIFA LEAUGUE</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/title_sc.jpg"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .kluby {
            color:white;
            text-align:center;
        }

        td {
            background: linear-gradient(144deg, #6874E9, #794EF2);
            color: white;
            text-align:center;
        }

        .modal-dialog {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            position: fixed;
            top: 0%;
            right: 20%;
            bottom: 0%;
            left: 0%;
        }

        .edit-label {
            font-size: 12px;
            color: black;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .modal {
            display: none;
            padding-top: 20%;
        }

        .close, .editClose {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        #add, #myBtn {
            align-items: center;
            background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
            border: 0;
            border-radius: 8px;
            box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
            box-sizing: border-box;
            color: #FFFFFF;
            display: flex;
            font-family: Phantomsans, sans-serif;
            font-size: 20px;
            justify-content: center;
            line-height: 1em;
            max-width: 100%;
            min-width: 200px;
            padding: 19px 24px;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            cursor: pointer;
        }

        #add, #myBtn:active,
        #add, #myBtn:hover {
            outline: 0;
        }
    </style>

</head>

<body>
    <header>
        <img src="images/logo.jpg" alt="logo">
    </header>
    <nav>
        <div id="menu">
            <ul>
                <li><a href="#" th:href="@{/index}">Home</a></li>
                <li><a href="#" th:href="@{/clubs}" style="background-color:purple;">Zoznam Klubov</a></li>
                <li><a href="#" th:href="@{/players}">Zoznam Hráčov</a></li>
                <li><a href="#" th:href="@{/zapasy}">Zápasy</a></li>
                <li><a href="#" th:href="@{/table}">Tabuľka</a></li>
                <li><a href="#" th:href="@{/news}">Zo Sveta Futbalu</a></li>
                <li><a href="#" th:href="@{/galery}">Galéria</a></li>
                <li><a href="#" th:href="@{/rules}">Pravidlá</a></li>
                <!-- Show "Prihlásiť" only when the user is anonymous -->
                <li style="float: right;" th:if="${username eq 'anonymousUser'}">
                    <a href="#" th:href="@{/login}" style="color: navajowhite">Prihlásiť</a>
                </li>
                <!-- Show "Odhlásiť" only when the user is logged in (not anonymous) -->
                <li style="float: right;" th:unless="${username eq 'anonymousUser'}">
                    <a href="#" th:href="@{/logout}" style="color: navajowhite">Odhlásiť</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="kluby">
            <h2>Číselník Klubov</h2>
            <div th:if="${userClass.role} == 'ADMIN' ">
                <a type="button" id="myBtn" data-toggle="modal" data-target="#myModal">Pridať klub</a>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Tím</th>
                    <th>Krajina</th>
                    <th>Dátum pridania</th>
                    <th th:if="${userClass.role} == 'ADMIN' ">Zmazať</th>
                    <th th:if="${userClass.role} == 'ADMIN' ">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="club :${clubs}">
                    <td th:text="${club.name}"/>
                    <td th:text="${club.country}"/>
                    <td th:text="${#temporals.format(club.createdDate, 'dd/MM/yyyy')}"/>
                    <td th:if="${userClass.role} == 'ADMIN' ">
                        <a th:href="@{'/club/delete/' + ${club.clubID}}" style="color:white" onclick="return confirmDelete()">Zmazať</a>
                    </td>
                    <td th:if="${userClass.role} == 'ADMIN' ">
                        <a href="#" data-toggle="modal" data-target="#editModal"
                           th:attrappend="data-target=${club.clubID}" style="color:white">Edit</a>
                    </td>
                    <!-- The edit Modal -->
                    <div class="modal fade" id="editModal" role="dialog" th:attrappend="id=${club.clubID}">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-12">
                                            <div class="wrapper">
                                                <div class="row no-gutters">
                                                    <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                                                        <div class="contact-wrap w-100 p-md-5 p-4">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                                                            <!--Form code start from here  -->

                                                            <!-- Form Name -->
                                                            <legend style="text-align: left">Klub</legend>

                                                            <form method="POST" th:action="@{/clubs}" id="contactForm" name="contactForm" class="contactForm">

                                                                <input id="clubID" path="clubID" name="clubID" type="hidden"
                                                                       placeholder="id" class="form-control input-md"
                                                                       th:value="${club.clubID}"/>
                                                                <input id="createdDate" path="createdDate" name="createdDate" type="hidden"
                                                                       placeholder="id" class="form-control input-md"
                                                                       th:value="${club.createdDate}"/>

                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="label edit-label" for="name">NÁZOV KLUBU</label>
                                                                            <input type="text" name="name" id="name" path="name" placeholder="Názov klubu"
                                                                                   class="form-control input-md" th:value="${club.name}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="label edit-label" for="country">KRAJINA</label>
                                                                            <input type="text" name="country"  id="country" path="country" placeholder="Krajina"
                                                                                   class="form-control input-md" th:value="${club.country}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <input type="submit" value="Uložiť" id="add">
                                                                            <div class="submitting"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- The edit Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="wrapper">
                                    <div class="row no-gutters">
                                        <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                                            <div class="contact-wrap w-100 p-md-5 p-4">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <!--Form code start from here  -->
                                                <!-- Form Name -->
                                                <legend>Klub</legend>
                                                <form method="POST" th:action="@{/clubs}" id="contactForm" name="contactForm" class="contactForm">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="label" for="name">Názov klubu</label>
                                                                <input type="text" name="name" id="name" path="name" placeholder="Názov klubu">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="label" for="country">Krajina</label>
                                                                <input type="text" name="country"  id="country" path="country" placeholder="Krajina">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <input type="submit" value="Uložiť" id="add">
                                                                <div class="submitting"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </main>
    <footer>
        <p><b>© Lukáš Šarocký, Jaroslav Podolák - Študenský zápočtový projekt - Naposledy upravený 31.12.2023 - saroclu1@uhk.cz, podolja1@uhk.cz</b></p>
    </footer>
    <script>
        let modal = document.getElementById("myModal");
        let btn = document.getElementById("myBtn");
        let editBtn = document.querySelectorAll(".editBtn");
        let editModal = document.getElementById("editModal");
        let span = document.getElementsByClassName("close")[0];
        let editSpan = document.getElementsByClassName("editClose")[0];
        btn.onclick = function() {   modal.style.display = "block"; }
        span.onclick = function() {   modal.style.display = "none"; }
        editSpan.onclick = function() {   editModal.style.display = "none"; }

        editBtn.forEach(function(btn) {
            btn.onclick = function() {
                let editModal = document.getElementById("editModal");
                editModal.style.display = "block";
            };
        });

        $('document').ready(function (){
            $('.table .btn')
        })


        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            else if (event.target == editModal) {
                editModal.style.display = "none";
            }
        }

        function confirmDelete() {
            const message = "Zmazať klub je možné len po zmazaní všetkých hráčov hrajúcich za daný klub. Chceš pokračovať?";
            const confirmation = window.confirm(message);
            if (confirmation) {
                // Proceed with delete operation
            } else {
                // Redirect to player.html
                window.location.href = '/players';
                return false; // Prevent delete operation
            }
        }
    </script>
</body>
</html>