<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">

<title>FIFA LEAUGUE</title>

<!-- <link rel="stylesheet" href="css/styles.css?v=1.0">-->
  
<link rel="shortcut icon" href="images/title_sc.jpg"/>
<link rel="stylesheet" href="style.css">  
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 




</head>

<body>
<header>
<img src="images/logo.jpg" alt="logo">
</header> 
<nav>
<div id="menu">
<ul>
<li><a href="index.htm">Home</a></li>
<li><a href="hraci.htm">Zoznam Hráčov</a></li>
<li><a href="zapasy.htm">Zápasy</a></li> 
<li><a href="tabulka.htm">Tabuľka</a></li>
<li><a href="futbal.htm">Zo Sveta Futbalu</a></li>
<li><a href="galeria.htm" style="background-color:purple;">Galéria</a></li>
<li><a href="pravidla.htm">Pravidlá</a></li>
</ul>
</div>
</nav>
<main>

<div class="galeria">
  <div class="obrazok">
  
    <img src="images/obr_1.jpg" alt="FIFA21">
  </div>
  
  <div class="obrazok">
    <img src="images/obr_2.jpg" alt="FIFA21">
  </div>
  
  <div class="obrazok">
    <img src="images/obr_3.jpg" alt="FIFA21">
  </div>
  
  <div class="obrazok">
    <img src="images/obr_4.jpg" alt="FIFA21">
  </div>
  
  <div class="obrazok">
    <img src="images/obr_5.jpg" alt="FIFA21">
  </div>
  
  <div class="obrazok">
   <img src="images/obr_6.jpg" alt="FIFA21">
  </div>
  
</div>

</main>
<footer>
<p><b>© Lukáš Šarocký - Študenský zápočtový projekt - Naposledy upravený 10.05.2021 - saroclu1@uhk.cz</b></p>
</footer>
  
</body>
</html>

