<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>FIFA LEAUGUE</title>
    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0">-->

    <link rel="shortcut icon" href="images/title_sc.jpg"/>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <header>
        <img src="images/logo.jpg" alt="logo">
    </header>
    <nav>
        <div id="menu">
            <ul>
                <li><a href="#" th:href="@{/index}">Home</a></li>
                <li><a href="#" th:href="@{/clubs}">Zoznam Klubov</a></li>
                <li><a href="#" th:href="@{/players}">Zoznam Hráčov</a></li>
                <li><a href="#" th:href="@{/zapasy}">Zápasy</a></li>
                <li><a href="#" th:href="@{/table}">Tabuľka</a></li>
                <li><a href="#" th:href="@{/news}">Zo Sveta Futbalu</a></li>
                <li><a href="#" th:href="@{/galery}" style="background-color:purple;">Galéria</a></li>
                <li><a href="#" th:href="@{/rules}">Pravidlá</a></li>
                <li style="float: right; padding-right: 5px;"><a href="#" th:href="@{/logout}" style="color: navajowhite">Odhlásiť</a></li>
                <li style="float: right;"><a href="#" th:href="@{/login}" style="color: navajowhite">Prihlásiť</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="galeria">
            <div class="obrazok">

                <img src="images/obr_1.jpg" alt="FIFA21">
            </div>

            <div class="obrazok">
                <img src="images/obr_2.jpg" alt="FIFA21">
            </div>

            <div class="obrazok">
                <img src="images/obr_3.jpg" alt="FIFA21">
            </div>

            <div class="obrazok">
                <img src="images/obr_4.jpg" alt="FIFA21">
            </div>

            <div class="obrazok">
                <img src="images/obr_5.jpg" alt="FIFA21">
            </div>

            <div class="obrazok">
                <img src="images/obr_6.jpg" alt="FIFA21">
            </div>
        </div>
    </main>
    <footer>
        <p><b>© Lukáš Šarocký, Jaroslav Podolák - Študenský zápočtový projekt - Naposledy upravený 10.05.2021 - saroclu1@uhk.cz, podolja1@uhk.cz</b></p>
    </footer>

</body>
</html>

