<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:security="">

<head>
    <security:intercept-url pattern="/css/**" access="permitAll" />
    <security:intercept-url pattern="/js/**" access="permitAll" />
    <security:intercept-url pattern="/fonts/**" access="permitAll" />
    <security:intercept-url pattern="/images/**" access="permitAll" />
    <meta charset="utf-8">
    <title>FIFA LEAUGUE</title>
    <link rel="shortcut icon" href="/images/title_sc.jpg"/>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        td {
            background: linear-gradient(144deg, #6874E9, #794EF2);
            color: white;
            text-align: center;
        }
        .zapasy {
            width:40%;
        }
    </style>
</head>

<body>
<header>
    <img src="images/logo.jpg" alt="logo">
</header>
<nav>
    <div id="menu">
        <ul>
            <li><a href="#" th:href="@{/index}" style="background-color:purple;">Home</a></li>
            <li><a href="#" th:href="@{/clubs}">Zoznam Klubov</a></li>
            <li><a href="#" th:href="@{/players}">Zoznam Hráčov</a></li>
            <li><a href="#" th:href="@{/zapasy}">Zápasy</a></li>
            <li><a href="#" th:href="@{/table}">Tabuľka</a></li>
            <li><a href="#" th:href="@{/news}">Zo Sveta Futbalu</a></li>
            <li><a href="#" th:href="@{/galery}">Galéria</a></li>
            <li><a href="#" th:href="@{/rules}">Pravidlá</a></li>
            <!-- Show "Prihlásiť" only when the user is anonymous -->
            <li style="float: right;" th:if="${username == null}">
                <a href="#" th:href="@{/login}" style="color: navajowhite">Prihlásiť</a>
            </li>
            <!-- Show "Odhlásiť" only when the user is logged in (not anonymous) -->
            <li style="float: right;" th:unless="${username == null}">
                <a href="#" th:href="@{/logout}" style="color: navajowhite">Odhlásiť</a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <div th:if="${param.success}" class="alert alert-success">
        <div class="marquee-container">
            <div class="marquee-content">
                <h1>Registrácia vo FIFA21 LEAGUE prebehla úspešne, môžete sa prihlásiť</h1>
            </div>
        </div>
    </div>
    <div th:unless="${param.success}">
        <div class="marquee-container">
            <div class="marquee-content">
                <!-- Check if the user is anonymous -->
                <h1 th:if="${username eq 'anonymousUser'}">FIFA21 LEAGUE</h1>
                <!-- Display welcome message when the user is not anonymous -->
                <h1 th:unless="${username eq 'anonymousUser'}" th:utext="'Vitaj ' + ${username} + ' na FIFA21 LEAGUE'"></h1>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="zapasy" id="nasledujuce">
            <h2 style="text-align:center;">Nasledujúce Zápasy</h2>
            <table>
                <thead>
                <tr>
                    <th>Domáci</th>
                    <th>vs.</th>
                    <th>Hostia</th>
                </tr>
                </thead>
                <tbody>
                <!-- Thymeleaf loop to iterate over matches -->
                <tr th:each="match : ${nextMatches}">
                    <td th:text="${match.home}"></td>
                    <td>:</td>
                    <td th:text="${match.away}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="stred">
            <iframe class="frame" width="560" height="315" src="https://www.youtube.com/embed/sSUx54kmUD8" title="YouTube video player" frameborder="0" allow="accelerometer;
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</main>
<footer>
    <p><b>© Lukáš Šarocký, Jaroslav Podolák - Študenský zápočtový projekt - Naposledy upravený 31.12.2023 - saroclu1@uhk.cz, podolja1@uhk.cz</b></p>
</footer>
</body>
</html>