<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>FIFA LEAUGUE</title>
    <link rel="shortcut icon" href="/images/title_sc.jpg"/>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>


        .zapasy {
            width:40%;
        }



    </style>


</head>

<body>
<header>
    <img src="images/logo.jpg" alt="logo">
</header>
<nav>
    <div id="menu">
        <ul>
            <li><a href="index.htm" style="background-color:purple;">Home</a></li>
            <li><a href="hraci.htm">Zoznam Hráčov</a></li>
            <li><a href="zapasy.html">Zápasy</a></li>
            <li><a href="tabulka.htm">Tabuľka</a></li>
            <li><a href="futbal.htm">Zo Sveta Futbalu</a></li>
            <li><a href="galeria.htm">Galéria</a></li>
            <li><a href="pravidla.htm">Pravidlá</a></li>
        </ul>
    </div>
</nav>
<main>
    <marquee width="100%" direction="right" height="100px" scrolldelay="0"><h1>FIFA21 LEAGUE</h1></marquee>
    <div id="container">
        <div class="zapasy" id="nasledujuce">
            <h2 style="text-align:center;">Nasledujúce Zápasy</h2>
            <table>
                <tbody>
                <tr>
                    <th>Domáci</th>
                    <th></th>
                    <th>Hostia</th>
                </tr>
                <tr>
                    <td>Man Utd</td>
                    <td>VS</td>
                    <td>Dortmund</td>

                </tr>
                <tr>
                    <td>FC Barcelona</td><td>VS</td>
                    <td>Ajax</td>
                </tr>
                <tr>
                    <td>Ac Milan</td>
                    <td>VS</td>
                    <td>Real Madrid</td>
                </tr>
                <tr>
                    <td>Atletico Madrid</td>
                    <td>VS</td>
                    <td>Bayern Mnichov</td>
                </tr>
                <tr>
                    <td>Man City</td>
                    <td>VS</td>
                    <td>Juventus</td>
                </tr>
                </tbody></table>
        </div>
        <div class="stred">
            <iframe class="frame" width="560" height="315" src="https://www.youtube.com/embed/sSUx54kmUD8" title="YouTube video player" frameborder="0" allow="accelerometer;
autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</main>
<footer>
    <p><b>© Lukáš Šarocký - Študenský zápočtový projekt - Naposledy upravený 10.05.2021 - saroclu1@uhk.cz</b></p>
</footer>
</body>
</html>


