<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>FIFA LEAUGUE</title>

    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0">-->

    <link rel="shortcut icon" href="/images/title_sc.jpg"/>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>

        .klub {
               color:white;
               text-align:center;
        }

    </style>



</head>

<body>
    <header>
        <img src="/images/logo.jpg" alt="logo">
    </header>
    <nav>
        <div id="menu">
        <ul>
            <li><a href="index.htm">Home</a></li>
            <li><a href="clubs.html" style="background-color:purple;">Zoznam Klubov</a></li>
            <li><a href="hraci.html">Zoznam Hráčov</a></li>
            <li><a href="zapasy.html">Zápasy</a></li>
            <li><a href="tabulka.htm">Tabuľka</a></li>
            <li><a href="futbal.htm">Zo Sveta Futbalu</a></li>
            <li><a href="galeria.htm">Galéria</a></li>
            <li><a href="pravidla.htm">Pravidlá</a></li>
            <!-- Show "Prihlásiť" only when the user is anonymous -->
            <li style="float: right;" th:if="${username eq 'anonymousUser'}">
                <a href="#" th:href="@{/login}" style="color: navajowhite">Prihlásiť</a>
            </li>
            <!-- Show "Odhlásiť" only when the user is logged in (not anonymous) -->
            <li style="float: right;" th:unless="${username eq 'anonymousUser'}">
                <a href="#" th:href="@{/logout}" style="color: navajowhite">Odhlásiť</a>
            </li>
        </ul>
        </div>
    </nav>
    <main>
        <div id="openModal" class="modalWindow">
            <div>
                <h2>This is a sample modal window</h2>
                <p>This is a sample modal window that can be created using CSS3 and HTML5.</p>
                <a href="#ok" title="Ok" class="ok">Ok</a>
            </div>
        </div>

    </main>
    <footer>
        <p><b>© Lukáš Šarocký, Jaroslav Podolák - Študenský zápočtový projekt - Naposledy upravený 31.12.2023 - saroclu1@uhk.cz, podolja1@uhk.cz</b></p>
    </footer>

</body>
</html>

