<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FIFA LEAUGUE</title>

    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0">-->
    <link rel="shortcut icon" href="images/title_sc.jpg"/>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        main {
            background-color:white;
        }
    </style>
</head>

<body>
    <header>
        <img src="images/logo.jpg" alt="logo">
    </header>
    <nav>
        <div id="menu">
            <ul>
                <li><a href="#" th:href="@{/index}">Home</a></li>
                <li><a href="#" th:href="@{/clubs}">Zoznam Klubov</a></li>
                <li><a href="#" th:href="@{/players}">Zoznam Hráčov</a></li>
                <li><a href="#" th:href="@{/zapasy}">Zápasy</a></li>
                <li><a href="#" th:href="@{/table}">Tabuľka</a></li>
                <li><a href="#" th:href="@{/news}" style="background-color:purple;">Zo Sveta Futbalu</a></li>
                <li><a href="#" th:href="@{/galery}">Galéria</a></li>
                <li><a href="#" th:href="@{/rules}">Pravidlá</a></li>
                <!-- Show "Prihlásiť" only when the user is anonymous -->
                <li style="float: right;" th:if="${username == null}">
                    <a href="#" th:href="@{/login}" style="color: navajowhite">Prihlásiť</a>
                </li>
                <!-- Show "Odhlásiť" only when the user is logged in (not anonymous) -->
                <li style="float: right;" th:unless="${username == null}">
                    <a href="#" th:href="@{/logout}" style="color: navajowhite">Odhlásiť</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="riadok">

            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">If you&#39;re good enough, you&#39;re old enough 🔴<br><br>👏
                <a href="https://twitter.com/masongreenwood?ref_src=twsrc%5Etfw">@MasonGreenwood</a>
                <a href="https://twitter.com/hashtag/MUFC?src=hash&amp;ref_src=twsrc%5Etfw">#MUFC</a>
                <a href="https://twitter.com/hashtag/MUAcademy?src=hash&amp;ref_src=twsrc%5Etfw">#MUAcademy</a>
                <a href="https://t.co/IF9kyu8MYN">pic.twitter.com/IF9kyu8MYN</a></p>&mdash; Manchester United (@ManUtd)
                <a href="https://twitter.com/ManUtd/status/1390913366164746242?ref_src=twsrc%5Etfw">May 8, 2021</a>
            </blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Destination: 𝐆𝐝𝐚𝐧𝐬𝐤.<br><br>UP THE REDS! 🔴⚪⚫
                <a href="https://twitter.com/hashtag/MUFC?src=hash&amp;ref_src=twsrc%5Etfw">#MUFC</a>
                <a href="https://twitter.com/hashtag/UEL?src=hash&amp;ref_src=twsrc%5Etfw">#UEL</a>
                <a href="https://t.co/Hv4xLdiSu2">pic.twitter.com/Hv4xLdiSu2</a></p>&mdash; Manchester United (@ManUtd)
                <a href="https://twitter.com/ManUtd/status/1390411492684713988?ref_src=twsrc%5Etfw">May 6, 2021</a>
            </blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">✨ 𝙊𝙝 𝙬𝙝𝙖𝙩 𝙖 𝙣𝙞𝙜𝙝𝙩 ✨<br><br>🗓️ Two years ago today
                <a href="https://twitter.com/hashtag/THFC?src=hash&amp;ref_src=twsrc%5Etfw">#THFC</a>
                ⚪️ <a href="https://twitter.com/hashtag/COYS?src=hash&amp;ref_src=twsrc%5Etfw">#COYS</a>
                <a href="https://t.co/C1C8kD2Op1">pic.twitter.com/C1C8kD2Op1</a></p>&mdash; Tottenham Hotspur (@SpursOfficial)
                <a href="https://twitter.com/SpursOfficial/status/1390909329663053825?ref_src=twsrc%5Etfw">May 8, 2021</a></blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">💛 𝗜 𝗖 𝗢 𝗡 𝗜 𝗖 💙</p>
                &mdash; Arsenal (@Arsenal)
                <a href="https://twitter.com/Arsenal/status/1390969730291404803?ref_src=twsrc%5Etfw">May 8, 2021</a>
            </blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>

        <div class="riadok">
            <blockquote class="twitter-tweet"><p lang="es" dir="ltr">¡4️⃣ jugadores en el &#39;&#39;Team of the Season&#39;&#39; de LaLiga en
                <a href="https://twitter.com/hashtag/FIFA21?src=hash&amp;ref_src=twsrc%5Etfw">#FIFA21</a>
                ! 🔥<br>🎯 <a href="https://twitter.com/Benzema?ref_src=twsrc%5Etfw">@Benzema</a><br>⚡
                <a href="https://twitter.com/Lucasvazquez91?ref_src=twsrc%5Etfw">@Lucasvazquez91</a><br>🧱
                <a href="https://twitter.com/raphaelvarane?ref_src=twsrc%5Etfw">@raphaelvarane</a><br>💪
                <a href="https://twitter.com/Casemiro?ref_src=twsrc%5Etfw">@Casemiro</a>
                <a href="https://twitter.com/hashtag/TOTS?src=hash&amp;ref_src=twsrc%5Etfw">#TOTS</a> |
                <a href="https://twitter.com/EASPORTSFIFA?ref_src=twsrc%5Etfw">@EASPORTSFIFA</a></p>&mdash; Real Madrid C.F. (@realmadrid)
                <a href="https://twitter.com/realmadrid/status/1390717115980828677?ref_src=twsrc%5Etfw">May 7, 2021</a></blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">
                🎈 Happy birthday to former
                <a href="https://twitter.com/hashtag/ClubWC?src=hash&amp;ref_src=twsrc%5Etfw">#ClubWC</a>
                winner, <a href="https://twitter.com/LUISENRIQUE21?ref_src=twsrc%5Etfw">@LUISENRIQUE21</a>
                !<br><br>🤔 Will he be lifting a trophy with Spain this summer?
                <a href="https://twitter.com/hashtag/HBD?src=hash&amp;ref_src=twsrc%5Etfw">#HBD</a>
                | <a href="https://twitter.com/SeFutbol?ref_src=twsrc%5Etfw">@SeFutbol</a>
                <a href="https://t.co/Le2PHoWDWP">pic.twitter.com/Le2PHoWDWP</a></p>&mdash; FIFA.com (@FIFAcom)
                <a href="https://twitter.com/FIFAcom/status/1390945566398500866?ref_src=twsrc%5Etfw">May 8, 2021</a>
            </blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">A history-making, all action display to book our
                <a href="https://twitter.com/hashtag/UCL?src=hash&amp;ref_src=twsrc%5Etfw">#UCL</a>
                final spot! 💪<br><br>🔷 <a href="https://twitter.com/hashtag/ManCity?src=hash&amp;ref_src=twsrc%5Etfw">#ManCity</a>
                | <a href="https://t.co/axa0klUGiM">https://t.co/axa0klUGiM</a>
                <a href="https://t.co/dYKVZFLVqu">pic.twitter.com/dYKVZFLVqu</a>
            </p>&mdash; Manchester City (@ManCity) <a href="https://twitter.com/ManCity/status/1390803637908037633?ref_src=twsrc%5Etfw">May 7, 2021</a>
            </blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">🎙
                <a href="https://twitter.com/RonaldKoeman?ref_src=twsrc%5Etfw">@RonaldKoeman</a>
                talks to reporters about today&#39;s
                <a href="https://twitter.com/hashtag/Bar%C3%A7aAtleti?src=hash&amp;ref_src=twsrc%5Etfw">#BarçaAtleti</a>
                <a href="https://t.co/6nF246iDEi">pic.twitter.com/6nF246iDEi</a></p>&mdash; FC Barcelona (@FCBarcelona)
                <a href="https://twitter.com/FCBarcelona/status/1390970023007633411?ref_src=twsrc%5Etfw">May 8, 2021</a></blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>
    </main>
    <footer>
        <p><b>© Lukáš Šarocký, Jaroslav Podolák - Študenský zápočtový projekt - Naposledy upravený 31.12.2023 - saroclu1@uhk.cz, podolja1@uhk.cz</b></p>
    </footer>

</body>
</html>