<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FIFA LEAUGUE</title>

    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0">-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="/images/title_sc.jpg"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .hraci {
            color:white;
            text-align:center;
        }

        td {
            background: linear-gradient(144deg, #6874E9, #794EF2);
            color: white;
            text-align:center;
        }

        .modal-dialog {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            position: fixed;
            top: 0%;
            right: 20%;
            bottom: 0%;
            left: 0%;
        }

        .edit-label {
            font-size: 12px;
            color: black;
        }

        #add, #myBtn {
            align-items: center;
            background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
            border: 0;
            border-radius: 8px;
            box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
            box-sizing: border-box;
            color: #FFFFFF;
            display: flex;
            font-family: Phantomsans, sans-serif;
            font-size: 20px;
            justify-content: center;
            line-height: 1em;
            max-width: 100%;
            min-width: 200px;
            padding: 19px 24px;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            cursor: pointer;
        }

        #add, #myBtn:active,
        #add, #myBtn:hover {
            outline: 0;
        }
    </style>


    <script th:if="${existRoll != null}">
        $(function () {
            $('#editModal').modal('show');
        });
    </script>
</head>

<body>
    <header>
        <img src="images/logo.jpg" alt="logo">
    </header>
    <nav>
        <div id="menu">
            <ul>
                <li><a href="#" th:href="@{/index}">Home</a></li>
                <li><a href="#" th:href="@{/clubs}">Zoznam Klubov</a></li>
                <li><a href="#" th:href="@{/players}" style="background-color:purple;">Zoznam Hráčov</a></li>
                <li><a href="#" th:href="@{/zapasy}">Zápasy</a></li>
                <li><a href="#" th:href="@{/table}">Tabuľka</a></li>
                <li><a href="#" th:href="@{/news}">Zo Sveta Futbalu</a></li>
                <li><a href="#" th:href="@{/galery}">Galéria</a></li>
                <li><a href="#" th:href="@{/rules}">Pravidlá</a></li>
                <!-- Show "Prihlásiť" only when the user is anonymous -->
                <li style="float: right;" th:if="${userClass.userName == null}">
                    <a href="#" th:href="@{/login}" style="color: navajowhite">Prihlásiť</a>
                </li>
                <!-- Show "Odhlásiť" only when the user is logged in (not anonymous) -->
                <li style="float: right;" th:unless="${userClass.userName == null}">
                    <a href="#" th:href="@{/logout}" style="color: navajowhite">Odhlásiť</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="hraci">
            <h2>Zoznam Hráčov</h2>
            <a th:if="${userClass.role} == 'ADMIN' " type="button" id="myBtn" data-toggle="modal" data-target="#myModal">Pridať hráča</a>
            <table>
                <thead>
                <tr>
                    <th>Meno</th>
                    <th>Priezvisko</th>
                    <th>Tím</th>
                    <th>Prvá Sezóna</th>
                    <th>Počet Trofejí</th>
                    <th>Dátum pridania</th>
                    <th th:if="${userClass.role} == 'ADMIN' ">Zmazať hráča</th>
                    <th th:if="${userClass.role} == 'ADMIN' ">Editovať hráča</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player :${players}">
                    <td th:text="${player.name}"/>
                    <td th:text="${player.surname}"/>
                    <td th:text="${player?.club?.name}"/>
                    <td th:text="${player.first_season}"/>
                    <td th:text="${player.trophies_number}"/>
                    <td th:text="${#temporals.format(player.createdDate, 'dd/MM/yyyy')}"/>
                    <td th:if="${userClass.role} == 'ADMIN' ">
                        <a th:href="@{'/players/delete/' + ${player.playerID}}" style="color:white">Zmazať</a>
                    </td>
                    <td th:if="${userClass.role} == 'ADMIN' ">
                        <a href="#" data-toggle="modal" data-target="#editModal"
                           th:attrappend="data-target=${player.playerID}" style="color:white">Edit</a>
                    </td>
                    <!-- The edit Modal -->
                    <div class="modal fade" id="editModal" role="dialog" th:attrappend="id=${player.playerID}">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-12">
                                            <div class="wrapper">
                                                <div class="row no-gutters">

                                                    <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                                                        <div class="contact-wrap w-100 p-md-5 p-4">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                                                            <!--Form code start from here  -->

                                                            <!-- Form Name -->
                                                            <legend style="text-align: left">Hráč</legend>

                                                            <form method="POST" th:action="@{/players}" id="contactForm" name="contactForm" class="contactForm">

                                                                <input id="playerID" path="playerID" name="playerID" type="hidden"
                                                                       placeholder="id" class="form-control input-md"
                                                                       th:value="${player.playerID}"/>
                                                                <input id="createdDate" path="createdDate" name="createdDate" type="hidden"
                                                                       placeholder="id" class="form-control input-md"
                                                                       th:value="${player.createdDate}"/>

                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="label edit-label" for="name" style="margin-right: 50px">MENO</label>
                                                                            <input type="text" name="name" id="name" path="name" placeholder="Meno"
                                                                                   class="form-control input-md" th:value="${player.name}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="label edit-label" for="surname" style="margin-right: 20px">PRIEZVISKO</label>
                                                                            <input type="text" name="surname"  id="surname" path="surname" placeholder="Priezvisko"
                                                                                   class="form-control input-md" th:value="${player.surname}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="label edit-label" for="first_season">PRVÁ SEZÓNA</label>
                                                                            <input type="text" name="first_season" id="first_season" path="first_season" placeholder="Prvá sezóna"
                                                                                   class="form-control input-md" th:value="${player.first_season}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="label edit-label" for="trophies_number">POČET TROFEJÍ</label>
                                                                            <input type="text" name="trophies_number"  id="trophies_number" path="trophies_number" placeholder="Počet trofejí"
                                                                                   class="form-control input-md" th:value="${player.trophies_number}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div style="text-align: left; padding-left: 30px">
                                                                            <div class="form-group">
                                                                                <label class="label edit-label" for="clubID" style="margin-right: 52px">KLUB</label>
                                                                                <select name="clubID" id="clubID" path="clubID" class="form-control input-md" style="width: 100%">
                                                                                    <option value="" disabled hidden>Vyberte klub</option>
                                                                                    <option th:each="club : ${clubs}" th:value="${club.clubID}" th:text="${club.name}" th:selected="${club.name == player.getClub().name}"></option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <input type="submit" value="Uložiť" id="add">
                                                                            <div class="submitting"></div>
                                                                        </div>
                                                                    </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody></table>
        </div>

        <!-- The edit Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="wrapper">
                                    <div class="row no-gutters">

                                        <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                                            <div class="contact-wrap w-100 p-md-5 p-4">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                                <!--Form code start from here  -->


                                                <!-- Form Name -->
                                                <legend>Hráč</legend>

                                                <form method="POST" th:action="@{/players}" id="contactForm" name="contactForm" class="contactForm">
                                                    <div class="row">
                                                        <div style="text-align: left">
                                                            <div class="form-group">
                                                                <label class="label" for="name" style="margin-right: 50px">Meno</label>
                                                                <input type="text" name="name" id="name" path="name" placeholder="Meno" style="margin-right: 10px">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="label" for="surname" style="margin-right: 24px">Priezvisko</label>
                                                                <input type="text" name="surname"  id="surname" path="surname" placeholder="Priezvisko">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div style="text-align: left">
                                                            <div class="form-group">
                                                                <label class="label" for="first_season">Prvá sezóna</label>
                                                                <input type="text" name="first_season" id="first_season" path="first_season" placeholder="Prvá sezóna" style="margin-right: 10px">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="label" for="trophies_number">Počet trofejí</label>
                                                                <input type="text" name="trophies_number"  id="trophies_number" path="trophies_number" placeholder="Počet trofejí">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div style="text-align: left; padding-left: 15px">
                                                                <div class="form-group">
                                                                    <label class="label" for="clubID">Klub</label>
                                                                    <select name="clubID" id="clubID" path="clubID" class="form-control input-md" style="width: 100%">
                                                                        <option value="" disabled selected hidden>Vyberte klub</option>
                                                                        <option th:each="club : ${clubs}" th:value="${club.clubID}" th:text="${club.name}"></option>
                                                                    </select>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <input type="submit" value="Uložiť" id="add">
                                                                <div class="submitting">
                                                                </div>
                                                            </div>
                                                        </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <p><b>© Lukáš Šarocký, Jaroslav Podolák - Študenský zápočtový projekt - Naposledy upravený 31.12.2023 - saroclu1@uhk.cz, podolja1@uhk.cz</b></p>
    </footer>
    <script>
        let modal = document.getElementById("myModal");
        let btn = document.getElementById("myBtn");
        let editBtn = document.querySelectorAll(".editBtn");
        let editModal = document.getElementById("editModal");
        let span = document.getElementsByClassName("close")[0];
        let editSpan = document.getElementsByClassName("editClose")[0];
        btn.onclick = function() {   modal.style.display = "block"; }
        span.onclick = function() {   modal.style.display = "none"; }
        editSpan.onclick = function() {   editModal.style.display = "none"; }

        editBtn.forEach(function(btn) {
            btn.onclick = function() {
                let editModal = document.getElementById("editModal");
                editModal.style.display = "block";
            };
        });

        $('document').ready(function (){
            $('.table .btn')
        })

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            else if (event.target == editModal) {
                editModal.style.display = "none";
            }
        }
    </script>
</body>
</html>