<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>FIFA LEAUGUE</title>

    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0">-->

    <link rel="shortcut icon" href="images/title_sc.jpg"/>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>

        h1 {
            margin-left:30px;
        }



    </style>

</head>

<body>
<header>
    <img src="images/logo.jpg" alt="logo">
</header>
<nav>
    <div id="menu">
        <ul>
            <li><a href="#" th:href="@{/index}">Home</a></li>
            <li><a href="#" th:href="@{/clubs}">Zoznam Klubov</a></li>
            <li><a href="#" th:href="@{/players}">Zoznam Hráčov</a></li>
            <li><a href="#" th:href="@{/zapasy}">Zápasy</a></li>
            <li><a href="#" th:href="@{/table}">Tabuľka</a></li>
            <li><a href="#" th:href="@{/news}">Zo Sveta Futbalu</a></li>
            <li><a href="#" th:href="@{/galery}">Galéria</a></li>
            <li><a href="#" th:href="@{/rules}" style="background-color:purple;">Pravidlá</a></li>
        </ul>
    </div>
</nav>
<main>

    <h1>Pravidlá Zápasov</h1>

    <ol>
        <li>Každý počas celého ročníka môže hrať len za jeden zvolený tím na začiatku ročníka.</li>
        <li>Počas ročníka nie je možné sa pridať do ligy.</li>
        <li>Liga prebieha v blokoch, kedy sa všetci učastnici dohodnú na odohratí určitéo bloku kôl/zápasov</li>
        <li>Neúčasť sa trestá kontumácio 3:0 a v pripade odvety vyradzovacej časti sa trestá výsledkom rovním vypadnutia z vyradzovacej časti v prospech súpera.</li>
        <li>V prípade neučasti obidvoch hráčov v jednom zápase výsledok bude stanovený simuláciou.</li>
        <li>Súčasťou ligy sú aj doprovodné súťaže ako ligový pohár, liga majstrov, majstrovstvá sveta a európi a iné doprovodné turnaje.</li>
        <li>Každý zápas sa hra polčas 6 minút na obtiažnosti Legendary , v prípade zápasu proti CPU je obtiažnosť nastavená na Word class.</li>
        <li>V prípade prerušenia počas zápasu, zápas sa bude dohrávať v časovej pasáži v ktorej skončil, pokial sa hrái nedohodnú inač. </li>
        <li>Výmena, kúpa a predaj hráčov je možné iba v predom definovanóm období tzv. transfer window.</li>
        <li>Pravidla nákupu medzi tímami hráčov si hráči určujú sami, nákupi od cpu tímov su predom definované a regulované.</li>
        <li>Po prechode na novú verziu FIFA hráči majú predkupné právo na hráčov svojho tímu , ktorí opustili klub v reálnom futbale a teda v novom ročníku sa nachádzajú v inom klube.</li>
        <li>Organizátor ligy si vyhradzuje právo menit pravidla ligy.</li>
    </ol>

</main>
<footer>
    <p><b>© Lukáš Šarocký - Študenský zápočtový projekt - Naposledy upravený 10.05.2021 - saroclu1@uhk.cz</b></p>
</footer>
</body>
</html>