<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">

<title>FIFA LEAUGUE</title>

<!-- <link rel="stylesheet" href="css/styles.css?v=1.0">-->
  
<link rel="shortcut icon" href="images/title_sc.jpg"/>
<link rel="stylesheet" href="style.css">  
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<style>


h2 {
		text-align:center;
}

h3 {
		text-align:center;
}
		

</style>


</head>

<body>
<header>
<img src="images/logo.jpg" alt="logo">
</header> 
<nav>
<div id="menu">
<ul>
<li><a href="index.htm">Home</a></li>
<li><a href="hraci.htm">Zoznam Hráčov</a></li>
<li><a href="zapasy.html">Zápasy</a></li>
<li><a href="tabulka.htm" style="background-color:purple;">Tabuľka</a></li>
<li><a href="futbal.htm">Zo Sveta Futbalu</a></li>
<li><a href="galeria.htm">Galéria</a></li>
<li><a href="pravidla.htm">Pravidlá</a></li>
</ul>
</div>
</nav>
<main>
<div id="container">	
<div class="liga" >
                <b><h2>Liga</h2></b>
                <table>
                    <tbody>
					<tr>
                        <th>Poradie</th>
                        <th>Tím</th> 
                        <th>Skóre</th>
						<th>Body</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Man Utd</td>
                        <td>24:9</td>
						<td>16</td>                       
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>FC Barcelona</td>
                        <td>15:11</td>
						<td>12</td>                       
                    </tr>
					<tr>
                        <td>3</td>
                        <td>Juventus</td>
                        <td>12:5</td>
						<td>10</td>                       
                    </tr>
					<tr>
                        <td>4</td>
                        <td>Atletico Madrid</td>
                        <td>12:7</td>
						<td>10</td>                         
                    </tr>
					<tr>
                        <td>5</td>
                        <td>Real Madrid</td>
                        <td>18:11</td>
						<td>8</td>                       
                    </tr>
					<tr>
                        <td>6</td>
                        <td>Bayern Mnichov</td>
                        <td>7:5</td>
						<td>7</td>                       
                    </tr>
					<tr>
                        <td>7</td>
                        <td>Ajax</td>
                        <td>6:7</td>
						<td>7</td>                       
                    </tr>
					                    <tr>
                        <td>8</td>
                        <td>Man City</td>
                        <td>3:11</td>
						<td>3</td>                       
                    </tr>
					                    <tr>
                        <td>9</td>
                        <td>Ac Milan</td>
                        <td>5:14</td>
						<td>1</td>                       
                    </tr>
					                    <tr>
                        <td>10</td>
                        <td>Dortmund</td>
                        <td>2:20</td>
						<td>0</td>                       
                    </tr>
					
                </tbody></table>
            </div>	
<div class="lm" >
                <b><h2>Liga Majstrov</h2></b>
					<div class="group">
					<b><h3>Skupina A</h3></b>
                <table>
                    <tbody>
					<tr>
                        <th>Poradie</th>
                        <th>Tím</th> 
                        <th>Skóre</th>
						<th>Body</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Man Utd</td>
                        <td>24:9</td>
						<td>16</td>                       
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>FC Barcelona</td>
                        <td>15:11</td>
						<td>14</td>                       
                    </tr>
					<tr>
                        <td>3</td>
                        <td>Inter Milan</td>
                        <td>12:5</td>
						<td>4</td>                       
                    </tr>
					<tr>
                        <td>4</td>
                        <td>FC Sevilla</td>
                        <td>3:7</td>
						<td>1</td>                         
                </tbody></table>
            </div>
<div class="group">
					<b><h3>Skupina B</h3></b>
                <table>
                    <tbody>
					<tr>
                        <th>Poradie</th>
                        <th>Tím</th> 
                        <th>Skóre</th>
						<th>Body</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Juventus</td>
                        <td>24:1</td>
						<td>18</td>                       
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>AC Milan</td>
                        <td>15:11</td>
						<td>12</td>                       
                    </tr>
					<tr>
                        <td>3</td>
                        <td>Dortmun</td>
                        <td>8:20</td>
						<td>6</td>                       
                    </tr>
					<tr>
                        <td>4</td>
                        <td>Ajax</td>
                        <td>3:20</td>
						<td>0</td>                         
                </tbody></table>
            </div>
<div class="group">
					<b><h3>Skupina C</h3></b>
                <table>
                    <tbody>
					<tr>
                        <th>Poradie</th>
                        <th>Tím</th> 
                        <th>Skóre</th>
						<th>Body</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Real Madrid</td>
                        <td>29:8</td>
						<td>16</td>                       
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Bayern Mnichov</td>
                        <td>25:10</td>
						<td>14</td>                       
                    </tr>
					<tr>
                        <td>3</td>
                        <td>Schalke 4</td>
                        <td>6:30</td>
						<td>3</td>                       
                    </tr>
					<tr>
                        <td>4</td>
                        <td>Manchester City</td>
                        <td>3:25</td>
						<td>3</td>                         
                </tbody></table>
            </div>
<div class="group">
					<b><h3>Skupina D</h3></b>
                <table>
                    <tbody>
					<tr>
                        <th>Poradie</th>
                        <th>Tím</th> 
                        <th>Skóre</th>
						<th>Body</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Atletico Madrid</td>
                        <td>24:9</td>
						<td>18</td>                       
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Arsenal</td>
                        <td>15:11</td>
						<td>12</td>                       
                    </tr>
					<tr>
                        <td>3</td>
                        <td>Chelsea</td>
                        <td>12:5</td>
						<td>4</td>                       
                    </tr>
					<tr>
                        <td>4</td>
                        <td>Porto</td>
                        <td>3:7</td>
						<td>1</td>                         
                </tbody></table>
            </div>
</div>			
</div>
</div>

</main>
<footer>
<p><b>© Lukáš Šarocký - Študenský zápočtový projekt - Naposledy upravený 10.05.2021 - saroclu1@uhk.cz</b></p>
</footer>
  
</body>
</html>

